
# Dependências
/node_modules

# Arquivos de build (compilação)
/dist
/www

# Arquivos de build do projeto nativo do Capacitor
/android/app/build/
/android/.gradle/
/android/build/
/ios/Pods/
/ios/build/

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de configuração de IDEs
.idea/
.vscode/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Arquivos de assinatura do Android (não devem ser commitados)
android/keystore.properties
